@page
@model NicasourseAssesment.Pages.Files.AddModel
@{
    var message = ViewData["Message"]?.ToString();
    var hasError = string.IsNullOrEmpty(ViewData["HasError"]?.ToString()) ? false : bool.Parse(ViewData["HasError"]?.ToString()!);
}

<form method="post" enctype="multipart/form-data">

    <h1 class="mb-3">Add new file</h1>

    @if (!string.IsNullOrEmpty(message))
    {
        <div class="alert alert-success" role="alert">
            @message
        </div>
    }

    <div class="mb-3">
        <label class="form-label">Description</label>
        <input type="text" name="Description" class="form-control" asp-for="AddFileRequest.Description"/>
    </div>

    <div class="mb-3">
        <label class="form-label">File</label>
        <input type="file" name="FormFile" class="form-control" asp-for="AddFileRequest.FormFile"/>
    </div>

    <div class="mb-3">
        <button tyoe="submit" class="btn btn-primary">Save file</button>
    </div>
</form>

