@page
@model NicasourseAssesment.Pages.Files.AddModel
@{
    var message = ViewData["Message"]?.ToString();
    var hasError = string.IsNullOrEmpty(ViewData["HasError"]?.ToString()) ? false : bool.Parse(ViewData["HasError"]?.ToString()!);
}

<form method="post" enctype="multipart/form-data">

    <h1 class="mb-3">Add new file</h1>

    @if (!string.IsNullOrEmpty(message))
    {
        <div class="alert alert-success" role="alert">
            @message
        </div>
    }

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <div class="mb-3">
            <label class="form-label">Description</label>
            <input type="text" name="AddFileRequest.Description" class="form-control" asp-for="AddFileRequest.Description" />
            <span class="text-danger" asp-validation-for="AddFileRequest.Description"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">File</label>
            <input type="file" name="AddFileRequest.FormFile" class="form-control" asp-for="AddFileRequest.FormFile" />
            <span class="text-danger" asp-validation-for="AddFileRequest.FormFile"></span>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Save file</button>
            <a href="/files/list" class="btn btn-dark">Back</a>
        </div>
    </div>
</form>

