@page "{id}"
@model NicasourseAssesment.Pages.Files.EditModel
@{
    var message = ViewData["Message"]?.ToString();
    var hasError = string.IsNullOrEmpty(ViewData["HasError"]?.ToString()) ? false : bool.Parse(ViewData["HasError"]?.ToString()!);
}

<form method="post">

    <h1 class="mb-3">Update the file</h1>

    @if (!string.IsNullOrEmpty(message))
    {
        <div class="alert alert-success" role="alert">
            @message
        </div>
    }

    <div class="mb-3">
        <label class="form-label">Id</label>
        <input type="text" name="id" class="form-control" asp-for="EditFileViewModel.Id" readonly/>
    </div>

    <div class="mb-3">
        <label class="form-label">Description</label>
        <input type="text" name="EditFileViewModel.Description" class="form-control" asp-for="EditFileViewModel.Description" />
        <span class="text-danger" asp-validation-for="EditFileViewModel.Description"></span>
    </div>

    <div class="mb-3">
        <button tyoe="submit" class="btn btn-primary">Update file</button>
    </div>
</form>