@page
@model NicasourseAssesment.Pages.Files.ListModel
@{
}

<div class="mb-3">
    <h1 class="mb-3">Your list of files</h1>
    <a href="/files/add" class="btn btn-dark">Add new file</a>
</div>

@if (Model.IsLoading)
{
    <div class="text-center">
        <div class="spinner-border text-primary"></div>
        <span class="sr-only">Loading...</span>
    </div>
}
else
{
    if (Model.Files.Count == 0)
    {
        <h1>You don't have any files yet, <a>press here to add one</a></h1>
    }
    else
    {
        if (Model.Files.Any())
        {
            <table class="table">
                <tr>
                    <th>File name</th>
                    <th>Description</th>
                    <th>Download</th>
                    <th>Edit</th>
                </tr> 
                <tbody>
                    @foreach (var file in Model.Files)
                    {
                        <tr>
                            <td>@file.FileName</td>
                            <td>@file.Description</td>
                            <td>
                                <a download href="@Url.Page("list", "DownloadFile", new { fileName = file.FileName, filePath = file.FilePath })" class="btn btn-dark">Download</a>
                            </td>
                            <td><a href="/files/edit/@file.id" class="btn btn-dark">Edit</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
}